li {
    margin: 2rem 4rem;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

img {
    margin: 0 auto;
}

/* adds darkness to hero image so buttons are more visible */
#hero {
    background-image: url("../images/hero-image.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}
